@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-very-dark-blue;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 15px;
  padding-top: 3px;

  @media only screen and (max-width: $bp-mobile) {
    font-size: 13px;
    padding-top: 1px;
  }
}
