@import "../styles/variables";
@import "../styles/mixins";

.rating-container {
  width: 350px;
  //height: 350px;
  aspect-ratio: 1/1;
  background-color: $color-dark-blue;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: space-between;

  &__star-container {
    width: 40px;
    aspect-ratio: 1/1;
    background-color: $color-grey;
    border-radius: 100%;
    @include flex-center;
    &--star {
      @include flex-center;
    }
  }

  &__title {
    color: $color-white;
  }

  &__text {
    color: $color-light-grey;
  }

  &__rates {
    display: flex;
    justify-content: space-between;
  }

  &__submit {
    font-family: inherit;
    background-color: $color-orange;
    border: none;
    border-radius: 100px;
    padding: 10px 0;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover:not([disabled]) {
      background-color: $color-white;
      color: $color-orange;
    }

    &[disabled] {
      background-color: $color-orange-disabled;
      cursor: not-allowed;
    }
  }
}
