@import "../styles/variables";
@import "../styles/mixins";

.greeting-container {
  max-width: 350px;
  aspect-ratio: 1/1;
  background-color: $color-dark-blue;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-mobile) {
    max-width: 320px;
  }

  &__image-container {
    @include flex-center;

    &--image {
      @include flex-center;
    }
  }

  &__selection {
    @include flex-center;

    p {
      padding: 10px 10px 5px 10px;
      color: $color-orange;
      background-color: $color-grey;
      border-radius: 50px;

      @media only screen and (max-width: $bp-mobile) {
        max-width: 320px;
        padding: 8px 8px 5px 8px;
      }
    }
  }

  &__title {
    color: $color-white;
    text-align: center;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 14px;
    }
  }

  &__text {
    color: $color-light-grey;
    text-align: center;
  }
}
